<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impressum</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
    }
  </style>
</head>

<body>

  <div class="container">
    <h1>Impressum</h1>
    <p>
      Anbieter gemäß § 5 TMG:
      <br>
      Samir Alibabic - Online Marketing<br>
      Klugstr. 99<br>
      80637 München<br>
      Deutschland
    </p>
    <p>
      <strong>Kontakt:</strong> <br>
      E-Mail: kontakt@samiralibabic.de
    </p>
    <p>
      <strong>Umsatzsteuer-ID:</strong> <br>
      Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: DE366017803
    </p>
    <p>
      <strong>Haftung für Inhalte:</strong> <br>
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
      Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte
      oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen.
    </p>
    <p>
      <strong>Haftung für Links:</strong> <br>
      Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
      können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
    </p>
  </div>

</body>

</html>